.container-temp {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
}

.container-min {
  min-width: 1280px;
  padding: 20px 40px 0 270px;
}

.container-common {
  background: #ffffff;
  box-shadow: 0 2px 4px rgba(165, 163, 174, 0.3);
  border-radius: 6px;
  position: relative;
}