.icon-calender-gray {
  background: url("@/assets/image/icon/iconCalenderGray.png") center/contain no-repeat;
}
.icon-people-gray {
  background: url("@/assets/image/icon/iconPeopleGray.png") center/contain no-repeat;
}
.icon-setting-gray {
  background: url("@/assets/image/icon/iconSettingGray.png") center/contain no-repeat;
}
.icon-file-gray {
  background: url("@/assets/image/icon/iconFileGray.png") center/contain no-repeat;
}

.icon-calender-white {
  background: url("@/assets/image/icon/iconCalenderWhite.png") center/contain no-repeat;
}
.icon-people-white {
  background: url("@/assets/image/icon/iconPeopleWhite.png") center/contain no-repeat;
}
.icon-setting-white {
  background: url("@/assets/image/icon/iconSettingWhite.png") center/contain no-repeat;
}
.icon-file-white {
  background: url("@/assets/image/icon/iconFileWhite.png") center/contain no-repeat;
}

.icon-down {
  background: url("@/assets/image/icon/iconDown.png") center/contain no-repeat;
}

.img-user {
  background: url("@/assets/image/dashboard/imgUser.png") center/contain no-repeat;
}

.img-line-graph {
  background: url("@/assets/image/dashboard/imgLineGraph.png") center/contain no-repeat;
}

.icon-ball-gray {
  background: url("@/assets/image/icon/iconBallGray.png") center/contain no-repeat;
  position: relative;
  .has-notice {
    top: -6px;
    right: -6px;
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 100px;
    background-color: #EA5455;

    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 13px;
    color: #FFFFFF;
  }
}

.icon-exit-blue {
  width: 26.66px;
  height: 22.5px;
  background: url("@/assets/image/icon/iconExitBlue.png") center/contain no-repeat;
}