.icon-calender-gray {
  background: url("@/assets/image/icon/iconCalenderGray.png") center/contain no-repeat;
}
.icon-people-gray {
  background: url("@/assets/image/icon/iconPeopleGray.png") center/contain no-repeat;
}
.icon-setting-gray {
  background: url("@/assets/image/icon/iconSettingGray.png") center/contain no-repeat;
}
.icon-file-gray {
  background: url("@/assets/image/icon/iconFileGray.png") center/contain no-repeat;
}

.icon-calender-white {
  background: url("@/assets/image/icon/iconCalenderWhite.png") center/contain no-repeat;
}
.icon-people-white {
  background: url("@/assets/image/icon/iconPeopleWhite.png") center/contain no-repeat;
}
.icon-setting-white {
  background: url("@/assets/image/icon/iconSettingWhite.png") center/contain no-repeat;
}
.icon-file-white {
  background: url("@/assets/image/icon/iconFileWhite.png") center/contain no-repeat;
}
